## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

clean_hotel_df = pd.read_csv("VacationPy_database.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Olot,ES,76.80,clear sky,42.1810,2.4901,Hotel Riu Fluvià
1,2,Sao Filipe,CV,77.14,overcast clouds,14.8961,-24.4956,Hotel Xaguate
2,4,Rikitea,PF,74.73,clear sky,-23.1203,-134.9692,People ThankYou
3,8,Fuling,CN,73.27,overcast clouds,29.7022,107.3919,Yingbin Hostel
4,9,Hamilton,US,76.91,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [122]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(clean_hotel_df['City'] =='Bethel')]
vacation_end = vacation_df.loc[(clean_hotel_df['City'] =='Bethel')]
vacation_stop1 = vacation_df.loc[(clean_hotel_df['City'] =='Albany')]
vacation_stop2 = vacation_df.loc[(clean_hotel_df['City'] =='Jamestown')]
vacation_stop3 = vacation_df.loc[(clean_hotel_df['City'] =='Douglas')] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
34,74,Bethel,US,78.82,overcast clouds,41.3712,-73.414,Courtyard by Marriott Danbury

In [78]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
17,36,Albany,US,73.45,overcast clouds,42.6001,-73.9662,Paradise Inn & Suites

In [79]:

vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
21,44,Jamestown,US,74.84,clear sky,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [80]:

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
252,558,Douglas,US,87.94,clear sky,41.3,-96.167,Hilton Garden Inn Omaha West

In [101]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
Bethel = (43.3712,-73.414)
Albany = (42.6001,-73.9662)
Jamestown = (42.097,79.2353)
Douglas = (41.3,-96.167)

fig = gmaps.figure()
Bethel2Bethel = gmaps.directions_layer(Bethel, Douglas,)
fig.add_layer(Bethel2Bethel)
fig

Figure(layout=FigureLayout(height='420px'))

In [109]:
fig = gmaps.figure()
Bethel2Bethel_via_Albany_Jamestown_Douglas= gmaps.directions_layer(
        Bethel,Douglas, waypoints=[Albany],
        travel_mode='DRIVING')
fig.add_layer(Bethel2Bethel_via_Albany_Jamestown_Douglas)
fig

Figure(layout=FigureLayout(height='420px'))

In [115]:
# 8. To create a marker layer map between the four cities.
fig = gmaps.figure()
Bethel2Bethel_via_Albany_Jamestown_Douglas = gmaps.directions_layer(
    Bethel, Albany, show_markers=False,
    stroke_color='red', stroke_weight=3.0, stroke_opacity=1.0)
fig.add_layer(Bethel2Bethel_via_Albany_Jamestown_Douglas)
fig

#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,74,Bethel,US,78.82,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
1,36,Albany,US,73.45,overcast clouds,42.6001,-73.9662,Paradise Inn & Suites
2,44,Jamestown,US,74.84,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,558,Douglas,US,87.94,clear sky,41.3000,-96.1670,Hilton Garden Inn Omaha West
4,74,Bethel,US,78.82,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury

In [123]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [128]:
# 11a. Add a marker layer for each city to the map. 
gmaps.configure(api_key = g_key)
locations = itinerary_df[['Lat','Lng']]
info_box_template='''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>'''

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows() ]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))