## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [23]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,Weatherpy_database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Current Description
0,0,Oksfjord,NO,70.2396,22.3479,46.47,79,97,overcast clouds
1,1,Olot,ES,42.1810,2.4901,76.80,56,0,clear sky
2,2,Sao Filipe,CV,14.8961,-24.4956,77.14,84,96,overcast clouds
3,3,Hermanus,ZA,-34.4187,19.2345,55.90,77,13,few clouds
4,4,Rikitea,PF,-23.1203,-134.9692,74.73,75,0,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Weatherpy_database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Current Description
1,1,Olot,ES,42.1810,2.4901,76.80,56,0,clear sky
2,2,Sao Filipe,CV,14.8961,-24.4956,77.14,84,96,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,74.73,75,0,clear sky
8,8,Fuling,CN,29.7022,107.3919,73.27,88,91,overcast clouds
9,9,Hamilton,US,39.1834,-84.5333,76.91,71,90,overcast clouds
11,11,Khankala,RU,43.3021,45.7556,73.81,94,90,overcast clouds
12,12,Alugan,PH,12.2188,125.4808,81.59,77,96,overcast clouds
13,13,Najran,SA,17.4924,44.1277,83.05,19,96,overcast clouds
16,16,Bengkulu,ID,-3.8004,102.2655,74.12,88,66,broken clouds
18,18,Ponta Do Sol,PT,32.6667,-17.1000,84.83,58,3,clear sky

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Weatherpy_database     331
City                   331
Country                331
Lat                    331
Lng                    331
Max Temp               331
Humidity               331
Cloudiness             331
Current Description    331
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

Weatherpy_database     331
City                   331
Country                331
Lat                    331
Lng                    331
Max Temp               331
Humidity               331
Cloudiness             331
Current Description    331
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Olot,ES,76.80,clear sky,42.1810,2.4901,
2,Sao Filipe,CV,77.14,overcast clouds,14.8961,-24.4956,
4,Rikitea,PF,74.73,clear sky,-23.1203,-134.9692,
8,Fuling,CN,73.27,overcast clouds,29.7022,107.3919,
9,Hamilton,US,76.91,overcast clouds,39.1834,-84.5333,
11,Khankala,RU,73.81,overcast clouds,43.3021,45.7556,
12,Alugan,PH,81.59,overcast clouds,12.2188,125.4808,
13,Najran,SA,83.05,overcast clouds,17.4924,44.1277,
16,Bengkulu,ID,74.12,broken clouds,-3.8004,102.2655,
18,Ponta Do Sol,PT,84.83,clear sky,32.6667,-17.1000,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "VacationPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))